<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<h1> Add New Product</h1>
<form action="Add-product.html/add" method="post">
    <label>Product Name </label>
    <input type="text" name="name"><br><br>

    <label>Description</label>

    <textarea name="description"></textarea><br><br>

    <label>Price (Rs.)</label>

    <input type="number" name="price"><br><br>

    <label>Stock (units)</label>

    <input type="number" name="stock"><br><br>

    <label>Category</label>

    <input type="text" name="category"><br><br>

    <label>Image URL</label>

    <input type="text" name="imageUrl"><br><br>

    <button type="submit">Add Product</button>

    <button type="reset">Cancel</button>
</form>

</body>
</html>